@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/Vazir.woff2") format(woff2);
}
@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/Vazir-Bold.woff2") format(woff2);
}
body,
button,
input {
  font-family: "vazir";
}
